<app-nav-bar></app-nav-bar>

<router-outlet></router-outlet>

<div class="jumbotron mt-3  ">
    <div class="container foot-container">
        <div class="foot-logo-container">
            <img class="foot-logo" src="assets/gaia.png">
            <img class="foot-logo" src="assets/bcw.svg">
        </div>
    </div>
</div>


<div style="font-size: 0.7em">Icons made by <a
        href="https://www.freepik.com/?__hstc=57440181.4fc1139a47169db6c69b7bfe189495ad.1557859577786.1557903626506.1557907046692.3&__hssc=57440181.9.1557907046692&__hsfp=2047237071"
        title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is
    licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
        3.0 BY</a></div>