<div class="header-img-cropper">
  <img class="header-img" src="assets/header.jpg">
</div>

<div class="container mt-4">
  <h1>About</h1>
  <div>
    GaiaGreenhouses is an all-in-one solution for Rwandan smallfarmers, who want to conduct profitable and sustainable agriculture. 
    On the one hand, we provide the small farmers with the physical rsources necessary to operate their agricultural activities.
    On the other hand, we also provide analysis of the plants' nutrients to allow recommendations as to which seeds to choose as well as when and how to fertilize.
  </div>
</div>